@model TransporteMouza.Models.Neumatico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Neumatico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNeumatico" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodado" class="control-label"></label>
                <input asp-for="Rodado" class="form-control" />
                <span asp-validation-for="Rodado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoUnidad" class="control-label"></label>
                <select asp-for="IdTipoUnidad" class="form-control" asp-items="ViewBag.IdTipoUnidad"></select>
                <span asp-validation-for="IdTipoUnidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCompra" class="control-label"></label>
                <select asp-for="IdCompra" class="form-control" asp-items="ViewBag.IdCompra"></select>
                <span asp-validation-for="IdCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
