@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TAI</h1>
    <h2>INTEGRANTES</h2>
    <hr />
    <p>Franco Giglio</p>
    <p>Edison Morillo</p>
    <p>Ignacio Aguilera</p>
    <p>Guadalupe Cedeira</p>
    <p>Kevin Ramirez</p>
    <p>Leandro Colarte</p>
</div>